<h1 style="text-align:center;">Create New Registration</h1>
<%= form_with(model:[@event, @registration],local: true) do |f| %>

    <% if @registration.errors.any? %>
        <section class="errors">
            <h1>sorry..! your form could not have been saved..</h1>
                <ul>
                    <% @registration.errors.full_messages.each do |k| %>
                       <span style="color:red;"><%= k %></span><br>
                    <% end %>
                </ul>
        </section>
    <% end %>
  <div style="text-align:center;">  
    <%= f.label :how_heard %>
    <%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS,prompt:"pick one" %><br><br>
    <%= f.submit %>
   </div>
<% end %>